@import '../../theme.styl'

:host
    position: absolute
    top: 0
    left: 0
    z-index: 1
    width: 100%
    height: 52px
.toolbar-content
    height 52px
    line-height 52px
    padding-left 12px
    background: primaryColor

.toolbar-content > span 
    vertical-align: sub
.toolbar-content > a 
    text-decoration none
    color lightTextColor
    font-size 24px

.arrowright
    color: lightTextColor
