:host
    background: #e8e8e8
    display: block
    padding 4px 8px
    margin: 8px 0px
    border-radius: 4px

.title
    font-size: 18px
    padding-top: 8px
    padding-bottom: 16px
    font-weight: bold